---
- name: 'Install pureftpd'
  apt:
    pkg: '{{ item }}'
    state: present
  with_items: '{{ pureftpd_apt_packages }}'

- name: 'Get all config variables from file system'
  command: ls -1 /etc/pure-ftpd/conf
  register: contents
  changed_when: false

- name: Remove old config files
  notify: restart pureftpd
  file:
    path: '/etc/pure-ftpd/conf/{{ item }}'
    state: absent
  when: "pureftpd_config[item] is not defined"
  with_items: '{{ contents.stdout_lines }}'

- name: 'Write config files'
  notify: restart pureftpd
  template:
    src: 'config.j2'
    dest: '/etc/pure-ftpd/conf/{{ item.key }}'
    owner: root
    group: root
    mode: 0750
  when: item.key != ''
  with_dict: '{{ pureftpd_config }}'

- name: Check for TLS certificate file
  stat:
    path: /etc/ssl/private/pure-ftpd.pem
  when: "pureftpd_config.TLS and pureftpd_config.TLS > 0"
  register: _pureftpd_tls_certificate
  tags: test

- name: Fail when no certificate is found
  fail:
    msg: |
        You have to copy a certificate to /etc/ssl/private/pure-ftpd.pem
        when you enable TLS!
  when: "not _pureftpd_tls_certificate.stat.exists"
  tags: test

- name: write users to file
  notify: reload pureftpd-users
  template:
    src: 'pureftpd.passwd.j2'
    dest: '/etc/pure-ftpd/pureftpd.passwd'
    owner: root
    group: root
    mode: '0600'
  when: pureftpd_users|length

- name: Start pureftpd
  notify: reload pureftpd-users
  service:
    name: 'pure-ftpd'
    state: started
    enabled: yes

